###########################################
# JetBrains
.idea


###########################################
# Vagrant
.vagrant
*.log
disks


###########################################
# Ansible
playbook.retry



###########################################
# Custom
